.todoList {
  text-align: center;
}

.todoList-header {
  background-color: #28ffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.todoList-link {
  color: #61dafb;
}

table {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-width: 2px;
  border-style: solid;
  border-color: blue;
  background-color: #a8ffff;
  text-align: center;
}

/*.btn-primary.button { */
button {
  border-width: 1px;
  border-style: solid;
  border-color: black;
  text-align: center;
}

